@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;

  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
  object-fit: cover;
}
dl,
ol,
ul {
  margin-bottom: 0.5rem;
}

#home {
  padding-top: 200px;
}
:root {
  --color-bg: #202020;
  --color-white: #ffffff;
  --headings-color: #dedede;
  --paragraph-color: #959595;
  --button-bg: #9d9d9d;
  --hover: #403d3d;

  --bold: 700;
  --semibold: 600;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Manrope", "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}
a {
  color: var(--color-white);
  text-decoration: none;
}
a:hover {
  color: var(--color-white);
  text-decoration: none;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.positionRelative {
  position: relative;
}
.bold {
  font-weight: var(--bold);
}
.semiBold {
  font-weight: var(--semibold);
}
.landing_heading {
  color: var(--headings-color);
  font-size: 64px;
  font-style: normal;
  line-height: 70px;
  letter-spacing: -0.5px;
}

.landing_paragraph {
  color: var(--paragraph-color);
  margin-top: 24px;
  font-size: 24px;
  font-style: normal;

  line-height: 36px;
  letter-spacing: -0.5px;
}

.contact_btn {
  margin-top: 64px;
  display: flex;
  width: 400px;
  height: 64px;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--button-bg);
}
.contact_btn:hover {
  background-color: var(--hover);
  transition: 0.3s;
}

.mail_icon {
  width: 20.571px;
  height: 16px;
  flex-shrink: 0;
}
.mail_link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.display_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.triangle_container {
  position: absolute;
  top: -117px;
  left: -91px;
  z-index: -1;
}
.gg-shape-triangle {
  position: relative;
  transform: scale(var(--ggs, 0));
  width: 700px;
  height: 540px;
  border-left: 20px solid transparent;
  border-bottom: 20px solid;
  transition: transform 1s ease-in-out;
}

.gg-shape-triangle,
.gg-shape-triangle::before {
  display: block;
  box-sizing: border-box;
  border-right: 20px solid transparent;
}

.gg-shape-triangle::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-left: 20px solid;
  border-top: 20px solid;
  border-bottom: 20px solid transparent;
  transform: rotate(45deg) skew(10deg, 10deg);
  left: 30px;
  bottom: -318px;
}

.visible {
  transform: scale(var(--ggs, 1));
}
.arrow_box {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.arrow_img {
  width: 8px;
  height: 18px;
  stroke-width: 2px;
  stroke: var(--headings-color);
}
.feature_heading {
  color: var(--headings-color);
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 0.7;
}

.feature-container {
  margin-bottom: 24px;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.feature-container:hover .overlay {
  opacity: 1;
  transition: 0.3s;
}

.overlay-text {
  color: var(--headings-color);
  font-size: 40px;
  font-style: normal;

  line-height: normal;
  letter-spacing: -0.5px;
}

.column_direction {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.padding_feature {
  padding: 24px;
}

.gap_feature {
  display: flex;
  gap: 24px;
}
.feature2-margin {
  margin-top: 90px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-container.animated {
  animation: fade-in 1s ease-out both;
}

.personal_heading {
  margin-bottom: 66px;
  color: var(--headings-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
}

.more_btn {
  margin-top: 64px;
  display: flex;
  width: 100%;
  height: 64px;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--button-bg);
}
.more_btn:hover {
  background-color: var(--hover);
  transition: 0.3s;
}

.padding_project {
  padding-bottom: 24px;
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

.scale-in {
  animation: scaleIn 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.contact_heading {
  color: var(--headings-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
}

.contact_paragraph {
  color: var(--paragraph-color);
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  line-height: 38px;
  letter-spacing: -0.5px;
}
.contact_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex_end {
  justify-content: flex-end;
}

header {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  top: 0;
  background: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(10px);
}
.gap_ul {
  gap: 56px;
}
.color_white {
  color: var(--color-white);
}
.copyright_heading {
  color: var(--paragraph-color);

  font-size: 16px;
  font-style: normal;

  line-height: 36px;
  letter-spacing: -0.5px;
}
.social_box {
  display: flex;
  align-items: center;
  gap: 46px;
}

.social_icon {
  width: 21.61px;
  height: 21.714px;
}
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 0.5px solid #696969;
}
.space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  color: var(--headings-color);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
}
.heading:hover {
  border-bottom: 3px solid var(--headings-color);
}
.project-container {
  position: relative;
  overflow: hidden;
  padding: 10px;
  transition: transform 0.3s;
}

.project-container:hover {
  transform: translateY(-10px);
}

.project-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  text-align: center;
  padding: 10px;
}

.project-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  text-align: center;
  padding: 10px;
  position: relative;
  display: inline-block;
}

.overlay-text::after {
  content: "_";
  display: inline-block;
  animation: blink 1s infinite;
}

.project-container:hover .overlay-text::after {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}

.loader-spinner {
  width: 100px;
  height: 100px;
  border: 5px solid var(--paragraph-color);
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pre-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  z-index: 999;
  animation: slideIn 1s ease-in-out forwards;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.pre-main-content.slide-out {
  animation: slideOut 1s ease-in-out forwards;
}

.show-main-button {
  margin-top: 64px;
  display: flex;
  width: 400px;
  height: 64px;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--button-bg);
}

.pre_heading {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 64px;
  font-style: normal;
  line-height: 70px;
  letter-spacing: -0.5px;
}

.pre-main-content.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

.text-distortion {
  animation: distortText 1.5s cubic-bezier(0.2, 0.85, 0.32, 1.2) forwards;
}

@keyframes distortText {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1) rotate(-3deg);
  }
  60% {
    transform: scale(0.9) rotate(3deg);
  }
  100% {
    transform: scale(1);
  }
}

.typing-effect {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 64px;
  font-style: normal;
  line-height: 70px;
  letter-spacing: -0.5px;

  display: inline-block;
}

.blinker {
  animation: blink 1s infinite;
  color: var(--paragraph-color);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinker {
  animation: blink 0.5s step-start infinite;
}

.blinker.show {
  animation: blink 0.5s step-end infinite;
}

.developer {
  width: 50px;
}
